<h1>Hello from {{ board.title }}!</h1>

<form name="listForm" ng-submit="createList()" novalidate>
  <h3>Create a list:</h3>

  <label>List title: <input type="text" name="listTitle" ng-model="newListTitle" required></label>
  <br />
  <label>List description: <input type="text" name="listDescription" ng-model="newListDescription" required></label>
  <div role="alert">
    <br />
    <span ng-show="listForm.listTitle.$error.required">Please enter a list title!</span>
    <br />
    <span ng-show="listForm.listDescription.$error.required">Please enter a list description!</span>
  </div>
  <br />
  <button type="submit" ng-disabled="boardForm.$invalid">Create Board</button>
</form>

<h3>{{ board.title }}'s lists:</h3>
<ul>
  <li ng-repeat="list in lists">{{ list.title }}
    <ul>
      <li>{{ list.description }}</li>
      <li>Cards:
        <ul>
          <li ng-repeat="card in list.cards">{{ card.title }}</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
