<div class="row">

  <div class="col-sm-8">
    <h1>Hello from <a href="#" editable-text="board.title" onaftersave="updateBoardTitle()">{{ board.title }}</a>!</h1>

    <h3>Create a new list:</h3>

    <a href="#" ng-click="createBlankList()">Create blank list</a>

    <h3>{{ board.title }}'s lists:</h3>
    <div class="row">

      <div ng-repeat="list in lists" class="col-sm-6 list-container">

        <h4 class="text-center"><a href="#" editable-text="list.title" onaftersave="updateList(list)">{{ list.title }}</a></h4>
        <p class="text-center"><em><a href="#" editable-text="list.description" onaftersave="updateList(list)">{{ list.description }}</a></em></p>

        <hr />

        <div class="container-fluid">
          <card ng-repeat="card in list.cards" card="card" show-card="showCard(card, list)"></card>
        </div>

        <br />

        <a href="#" ng-click="createBlankCard(list)">Add a card</a>

        <hr />

        <a href="#" ng-click="deleteList(list)">Delete this list?</a>

      </div>

    </div>
    <!-- <ul>
      <li ng-repeat="list in lists">{{ list.title }}
        <ul>
          <li>{{ list.description }}</li>
          <li>Cards:
            <ul>
              <li ng-repeat="card in list.cards">{{ card.title }}
                <ul>
                  <li ng-repeat="member in card.members">aa</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul> -->

  </div>

  <div class="col-sm-4">
    <h3>My boards</h3>
    <select class="form-control" ng-model="selectedBoard" ng-change="goToBoard()">
      <option ng-repeat="boardOpt in allBoards" value="{{boardOpt.id}}">{{ boardOpt.title }}</option>
    </select>
    <a href="#" ng-click="deleteBoard(board)">Delete {{ board.title }}?</a>
  </div>

</div>
