<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title"><a href="#" editable-text="card.title" onaftersave="updateCard(card)">{{ card.title }}</a></h2>
        <p>In list {{ list.title }}</p>
      </div>
      <div class="modal-body">
        <p><a href="#" editable-text="card.description" onaftersave="updateCard(card)">{{ card.description }}</a></p>

        <hr />

        <h2>Members</h2>
        <div class="row" ng-repeat="member in members">
          <div class="col-sm-6">
            <strong>{{ member.email }}</strong>
          </div>
          <div class="col-sm-6 text-right">
            <a href="#" ng-click="removeMember(member)">remove?</a>
          </div>
        </div>

        <a href="#" ng-click="isAddMemberOpen = !isAddMemberOpen">Add a member</a>
        <div ng-show="isAddMemberOpen">
          <select class="form-control" ng-model="selectedUser">
            <option ng-repeat="user in allUsers" value="{{user.id}}">{{ user.email }}</option>
          </select>
          <button type="button" ng-click="addMember()" class="btn btn-primary text-right" data-dismiss="modal">Add member</button>
        </div>

        <hr />

        <h2>Activity</h2>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Close window</button>
      </div>
    </div>
  </div>
</div>
